* {
	user-select: none;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
}

body {
	margin: 0;
	padding: 0;
	overflow: auto;
	background-color: #fff;
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px;
	border-radius: 12px;
	color: #fff;
	font-size: 1rem;
	border: none;
	cursor: pointer;
	text-align: center;

	&:hover {
		opacity: 0.9;
	}
}
